
<a href="post" class="btn-flat-logo">
  <i class="fa fa-chevron-right"></i> 投稿する
  
<a href="/" class="btn-flat-logo">
  <i class="fa fa-chevron-right"></i> ログアウト
</a>

<a href="/following" class="btn-flat-logo">
  <i class="fa fa-chevron-right"></i> フォロー一覧
</a>

 <ul>
 <% @images.each do |image| %>
 <img src="<%= "/images/#{image["image"]}" %>" class= "img-responsive img-thumbnail" width="1200" height="1200"/>

 <h3> @<%= image["name"] %>: <%= image["content"] %></h3>
<% if @my_id != image["user_id"]%>
<div class="form_conf">
 <form method="post" action="follow/<%= image["user_id"]%>">
 <td><input type="submit" class ="btn-square-shadow" value="フォローする"></td></form>
  <form method="post" action="unfollow/<%= image["user_id"]%>">
 <input type="submit" class ="btn-square-shadow" value="フォロー解除"></form>
 </div>
 <% else %>
<% end %>
<% if @my_id == image["user_id"]%>
 <form method="post" action="del/<%= image["id"]%>">
 <input type="hidden" name="" value="delete">
 <td><input type="submit" class ="btn-square-shadow" value="削除"></td></form>
 <% else %>
 <% end %>
<% end %>


 



 </ul>

</div>

 