
<a href="post" class="btn-flat-logo">
  <i class="fa fa-chevron-right"></i> 投稿する
  
<a href="/" class="btn-flat-logo">
  <i class="fa fa-chevron-right"></i> ログイン画面へ
</a>
 <ul>
 <% @images.each do |image| %>
 <img src="<%= "/images/#{image["image"]}" %>" class= "img-responsive img-thumbnail" width="1000" height="1000"/>

 <p> @<%= image["name"] %>: <%= image["content"] %></p>

 <form method="post" action="follow/<%= image["user_id"]%>">
 <td><input type="submit" class ="btn-square-shadow" value="フォローする"></td></form>

  <form method="post" action="unfollow/<%= image["user_id"]%>">
 <td><input type="submit" class ="btn-square-shadow" value="フォロー解除"></td></form>
 
 <form method="post" action="del/<%= image["id"]%>">
 <input type="hidden" name="" value="delete">
 <td><input type="submit" class ="btn-square-shadow" value="削除"></td></form>
 <% end %>

 



 </ul>

</div>

 